appdirs==1.4.4
certifi==2020.4.5.1
chardet==3.0.4
distlib==0.3.0
docutils==0.16
filelock==3.0.12
idna==2.9
Kivy==2.0.0rc2
kivy-deps.angle==0.2.0
kivy-deps.glew==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-examples==2.0.0rc2
Kivy-Garden==0.1.4
Pillow==9.0.0
plyer==1.4.3
Pygments==2.6.1
pypiwin32==223
pywin32==227
requests==2.23.0
six==1.14.0
urllib3==1.25.9
virtualenv==20.0.20
